<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">TEMAS</h4>
                <hr>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a #opcion1 (click)="cambiarColor('default', opcion1)" data-theme="default" class="selector default-theme">1</a></li>
                        <li><a #opcion2 (click)="cambiarColor('green', opcion2)" data-theme="green" class="selector green-theme">2</a></li>
                        <li><a #opcion3 (click)="cambiarColor('red', opcion3)" data-theme="red" class="selector red-theme">3</a></li>
                        <li><a #opcion4 (click)="cambiarColor('blue', opcion4)" data-theme="blue" class="selector blue-theme">4</a></li>
                        <li><a #opcion5 (click)="cambiarColor('purple', opcion5)" data-theme="purple" class="selector purple-theme">5</a></li>
                        <li><a #opcion6 (click)="cambiarColor('megna', opcion6)" data-theme="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a #opcion7 (click)="cambiarColor('default-dark', opcion7)" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #opcion8 (click)="cambiarColor('green-dark', opcion8)" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #opcion9 (click)="cambiarColor('red-dark', opcion9)" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #opcion10 (click)="cambiarColor('blue-dark', opcion10)" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li><a #opcion11 (click)="cambiarColor('purple-dark', opcion11)" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #opcion12 (click)="cambiarColor('megna-dark', opcion12)" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>